ion-card {
	--background: #000;
	--color: #9efff0;
}

ion-card-title {
	--color: #52ffe4;
}

ion-card-subtitle {
	--color: #d1fff8;
}

@media only screen and (min-width: 650px) {
	.all-journal-container {
		max-width: 1200px;
		margin: 0 auto;
		margin-top: 40px;
	}
}

.no-journal-found {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
