.create-journal-container {
	max-width: 1000px;
	margin: 0 auto;
}

.create-journal-container h2 {
	margin-bottom: 22px;
}

.react-quill-div .ql-container {
	height: 265px;
}

@media only screen and (max-width: 650px) {
	.create-journal-container {
		max-width: 85%;
	}

	.create-journal-container h2 {
		font-size: 1.1rem;
	}

	.react-quill-div .ql-container {
		height: 200px;
	}
}
